{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon">
        <meta charset="UTF-8">
        <title>Spotify検索</title>
    </head>
    <body>
        <h1>Spotify検索</h1>
        <form method="post" onsubmit="showLoading()">
        {% csrf_token %}
        <div>
            <label for="titleInput">曲のタイトル</label><br>
            <input 
            id="titleInput" 
            name="title" 
            type="text" 
            value="{{ form_data.title }}">
        </div>
        <div>
            <label for="artistInput">作曲者(任意)</label><br>
            <input 
            id="artistInput" 
            name="artist" 
            type="text" 
            value="{{ form_data.artist }}">
        </div>
        <br>
        <div>
            <button type="submit">検索</button>
        </div>
        </form>
        
        <p id="loading" style="display: none;">検索中...</p>
        <script>
            function showLoading() {
            document.getElementById("loading").style.display = "block";
            }
        </script>
        {% if NotFound %}
            <p style="color: red;">{{ NotFound.message }}</p>
        {% endif %}
        {% if result_data %}
            <h2>検索結果</h2>
            <div style="display: flex; align-items: center; gap: 10px;">
                <p id="official_title">タイトル: {{ result_data.title }}</p>
                <button id="copy1" onclick="copyToClipboard('official_title', 'copy1')">Copy</button>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <p id="official_artist">作曲者: {{ result_data.artist }}</p>
                <button id="copy2" onclick="copyToClipboard('official_artist', 'copy2')">Copy</button>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <p id="list">コピペ用: ["{{ result_data.title }}", "{{ result_data.artist }}", ジャンル],</p>
                <button id="copy3" onclick="copyToClipboard('list', 'copy3')">Copy</button>
            </div>
            <img src="{{ result_data.album_image }}" alt="ジャケット" style="width: 200px;">
        {% endif %}
        <script>
            function copyToClipboard(elementId, buttonId) {
                const target = document.getElementById(elementId);
                const button = document.getElementById(buttonId);
                if (target && button.textContent == 'Copy') {
                    console.log(button)
                    const text = target.textContent.replace(/^.+: /, '');
                    navigator.clipboard.writeText(text)
                        .then(() => {
                            button.textContent = 'Copied';
                            setInterval(() => {
                                button.textContent = 'Copy';
                            }, 1000);
                        })
                        .catch(err => {
                            console.error("コピーに失敗しました:", err);
                        });
                };
            }
        </script>
    </body>
</html>