<!-- topページ -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <button class="login" type="button">ログイン</button>
    <h1>MusiQ</h1>
    <button class="one" type="button">ひとりで</button>
    <button class="two" type="button">ふたりで</button>
    <button class="how to play" type="button">あそびかた</button>
    <button class="ranking" type="button">ランキング</button>
</body>
</html>