<!-- ランキング -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}">
    </head>
    <body>
        <h1>ランキング表示画面だよ</h1>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>player</th>
                    <th>score</th>
                </tr>
            </thead>
            <tbody>
              {% for player in players %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ player.score }}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </body>
</html>
