{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon">
        <title>ジャンル選択</title>
        <link rel="stylesheet" href="{% static 'css/select_genre.css' %}">
        <link rel="stylesheet" href="{% static 'css/curtain.css' %}">
        <script type="text/javascript" src="{% static 'javascript/select_genre.js' %}"></script>
    </head>
    <body>
        <div class="side-curtain left-curtain"></div>
        <div class="container">
            <div class="genre-container">
                <h2>ジャンルを選択</h2>
                <div class="button-container">
                    {% for index, value in genre.items %}
                        <button class="genre-button" onclick="location.href='{% url 'game' value %}'">
                            {{ value }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="side-curtain right-curtain"></div>
    </body>    
</html>
