body {
    margin: 0;
    background-color: #fffacd;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;  
    max-width: 1200px;  
    margin: 0 auto;   
}

.title {
    font-family: 'Poppins', sans-serif; 
    font-size: 100px; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: #4f4f4f;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.3), 
        -1px -1px 2px rgba(255, 255, 255, 0.5);;
}
.q {
    font-size: 150%;
    color: #383838;
    text-shadow: 
        3px 3px 6px rgba(0, 0, 0, 0.4),
        -2px -2px 4px rgba(255, 255, 255, 0.3); ;
}



/* 注意事項画面 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
}

#overlay p {
    margin: 10px 0;
    text-align: center;
    font-size: 1.2em;
    transform: translate(0%, 400%);
}

#overlay .touch-start {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: #f5b700;
    text-shadow: 0 0 8px rgba(245, 183, 0, 0.8);
    transform: translate(0%, 600%);
}

#main-content {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

.logo {
    margin: 0;
    padding-bottom: 60px;
    font-weight: bold;
    text-align: center;
}

.play-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
}

.play-icon {
    size: 140%;
    background-color: transparent;
    width: 150px;
    height: 150px;
    animation: pulse 3s infinite;
    display: block;
    object-fit: contain;
}

.play-icon:hover {
    transform: scale(1.1);
    opacity: 1;
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.mute-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mute-btn:hover {
    background-color: #ddd;
}

.menu {
    margin-top: 100px;
}
.menu button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.buttons {
    cursor: pointer;
    background-color: #ff8c00;
    color: white;
}
.buttons:hover {
    background-color: #e67600;
    color: rgb(234, 234, 234);
}

.login_container {
    position: fixed;
    top: 20px; 
    left: 200px; 
    z-index: 1000;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 3px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login:hover {
    background-color: #cccccc; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.login_icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
    border-radius: 50%;
}

.login_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login_name {
    font-weight: bold;
    color: #333;
}

.login_status {
    font-size: 12px;
    color: #666;
}


#audio-spectrum {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3; 
    pointer-events: none;
}