body {
    margin: 0;
    background-color: #fffacd; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    margin: 10;
    font-size: 70;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}
