body {
    margin: 0;
    background: rgb(226,217,134);
    background: linear-gradient(0deg, rgba(226,217,134,1) 0%, rgba(255,250,205,1) 93%);
    align-items: center;
    justify-content: center;
}
.container { 
    height: 100vh;
}

.box{
    height: 300px;
    width: 700px;
    text-align: center;
    padding: 0.2em 0.5em;
    color: #565656;
    background:#ffffff;
    box-shadow: 0px 0px 0px 10px #ffffff;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    margin-left: 280px;
    margin-top: 180px;
}

p{
    position: relative;
    text-align: left;
    font-size: 23px;
    margin-left: 20px;
}

p span.wa{
    background: linear-gradient(#f88400 50%, #4d9bc1 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p span.span{
    color: #dc4e38;
    display: inline-block;
    transform: skewX(-15deg);
}

.play-icon {
    height: 10%;
    width: 10%;
}

.topButton_container {
    position: absolute;
    top: 20px; 
    left: 200px; 
    z-index: 1000;
}

.topButton {
    display: flex; 
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #f5f5f5; 
    color: #4b4b4b;
    border: 1px solid #ddd; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.topButton img {
    margin-right: 8px;
    width: 20px;
    height: auto; 
}

.topButton:hover {
    background-color: #CCCCCC; 
}

h1 {
    width: 695px;
    position: absolute;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.3em 0.5em;
    margin-left: -15px;
    color: #454545;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -90px;
  }
  
  h1:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }

